// Sora Font
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700;800&display=swap');

// Acumin Font
@font-face {
  font-family: 'acumin_pro_condensed_blackRg';
  src: url('../src/assets/fonts/acumin-pro-condensed-black-webfont.woff2') format('woff2'),
       url('../src/assets/fonts/acumin-pro-condensed-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Global css starts */
:root {
  --primary-color: #A93BFF;
  --white-color: #ffffff;
  --white-light-1: #F2F2F2;
  --white-light-2: #EEEEEE;
  --yellow-color: #EBF243;
  --purple-light: #7601F4;
}
body {
  font-family: 'Sora', sans-serif;
}
.btn {
  &:focus {
    outline: none;
    box-shadow: none;
  }
  &:hover {
    outline: none;
    box-shadow: none;
  }
  &:active:focus {
    outline: none;
    box-shadow: none;
  }
}
.btn-primary {
  background-color: var(--primary-color);
  border: none;
  border-radius: 18px;
  padding: 16px 24px;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  &:hover {
    background-color: var(--primary-color);
  }
  &:focus {
    background-color: var(--primary-color);
   box-shadow: none; 
  }
}
/* Global css ends */

/* Hero styles starts */
.hero-wrapper {
  background: url('../src/assets/hero-background.svg') no-repeat;
  background-size: cover;
  background-position: bottom center;
  position: relative;
  min-height: 100vh;
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .hero-image {
    position: absolute;
    left: 0;
    bottom: 0;
    max-width: 760px;
    @media screen and (min-width: 1600px) {
      min-width: 900px;
    }
    @media screen and (min-width: 1800px) {
      min-width: 1000px;
    }
    @media screen and (max-width: 1300px) {
      max-width: 700px;
    }
    @media screen and (max-width: 1200px) {
      max-width: 600px;
    }
    @media screen and (max-width: 1024px) {
      max-width: 550px;
    }
    @media screen and (max-width: 991px) {
      display: none;
    }
  }
  .banner-responsive-image {
    display: none;
    margin-top: 50px;
    order: 2;
    padding-bottom: 0;
    @media screen and (max-width: 991px) {
      display: block;
    }
  }
  .hero-banner {
    margin-top: 115px;
    @media screen and (min-width: 1400px) {
      margin-top: 0;
    }
    @media screen and (max-width: 991px) {
      padding-top: 50px;
      margin-top: 0;
    }
    .hero-row {
      @media screen and (min-width: 1400px) {
        align-items: center;
        min-height: calc(100vh - 90px);
      }
      @media screen and (max-width: 991px) {
        height: calc(100vh - 90px);
      }
    }
    .hero-title {
      font-weight: 900;
      font-size: 50px;
      line-height: 99.5%;
      text-transform: uppercase;
      margin-bottom: 10px;
      color: var(--yellow-color);
      font-family: 'acumin_pro_condensed_blackRg';
      @media screen and (min-width: 1600px) {
        font-size: 64px;
        line-height: 99.5%;
      }
      @media screen and (max-width: 767px) {
        font-size: 30px;
      }
      .text-br {
        display: block;
        @media screen and (max-width: 767px) {
          display: inline;
        }
      }
    }
    .hero-para {
      font-weight: 400;
      font-size: 16px;
      line-height: 152%;
      color: var(--white-light-1);
      margin-bottom: 0;
      @media screen and (min-width: 1600px) {
        font-size: 20px;
        line-height: 152%;
      }
    }
    .hero-btn {
      margin-top: 30px;
      letter-spacing: 0.1em;
      font-weight: 700;
      font-size: 13px;
      line-height: 16px;
      @media screen and (min-width: 1600px) {
        padding: 16px 36px;
      }
    }
  }
  .hero-action-box {
    background-color: var(--purple-light);
    padding: 25px;
    border-radius: 12px;
    margin-top: 30px;
    .btn {
      letter-spacing: 0.1em;
      font-weight: 700;
      font-size: 13px;
      line-height: 16px;
      border-radius: 12px;
    }
    &.payment-box {
      width: 360px;
      height: 360px;
      .bar-code-box {
        background-color: var(--white-light-2);
        padding: 25px;
        border-radius: 12px;
        height: 100%;
        img {
          max-height: 100%;
          margin: 0 auto;
          display: block;
        }
      }
    }
  }
}
/* Hero styles ends */